@import "../../mixins.scss";
.app__footer {
  background-color: var(--color-black3);
  padding: 50px 0;
  color: white;
  position: relative;
  .app__content-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .app__footer_menu-items {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
    @include md {
      margin-bottom: 30px;
      gap: 30px;
    }
    .app__footer_menu-item-list {
      transition: all ease 0.3s;
      cursor: pointer;
      font-size: 12px;
      @include md {
        font-size: 16px;
      }
      &:hover {
        color: var(--color-pink);
      }
    }
  }
  .app__footer_info_text {
    font-size: 12px;
    line-height: 20px;
    opacity: 0.5;
    text-align: center;
    max-width: 800px;
    margin-bottom: 20px;
    @include md {
      font-size: 14px;
      margin-bottom: 30px;
    }
  }
  .app__footer_social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .app__footer_social-icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: var(--color-black);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all ease 0.3s;
      &:hover {
        box-shadow: 0 0 0.625em var(--color-pink);
        color: var(--color-pink);
      }
    }
  }
}
